.vscode/
data/
build/
venv/
output/

# Ignore executables in apps/
apps/build_tree
apps/compute_ncd
apps/extract_features
apps/music_id

# Ignore downloaded songs
getSongs/download_songs
getSongs/downloads

# Ignore all object files and static libraries
*.o
*.a

# Ignore CMake build files and folders
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore temporary files (optional)
*.log
*.tmp

# Ignore Python cache and pyc files
__pycache__/
*.pyc

# Ignore the tests outputs (keep just the plots)
tests/results_small_dataset/binary_format_results/
tests/results_small_dataset/data/
tests/results_small_dataset/parameter_evaluation/
tests/results_small_dataset/text_format_results/